@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* [Style globale] */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    --color1: #fff;
    --color2: #000;
    --color3: dodgerblue;
    --color4: #F4F6F9;
    --color5:rgba(30, 143, 255, 0.158);
    background-color: var(--color4);
}

.title{
    text-align: center;
}

.margin-content{
    margin: 0px 0;
}

.title h2{
    background-color: var(--color1);
    padding: 10px;
}
a{
    text-decoration: none;
    color: var(--color2);
}
li {
    list-style-type: none;
}


/* [Header] */
header{
    border: 1px solid var();
}
/* Logo */
.logo a {
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
    background-color: dodgerblue;
    color: #fff;
    text-decoration: none;
}


/* Barre de navigation */

.nav-bar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color1);
    padding: 0 10px;
}

.menu {
    display: flex;

}

.menu li {
    padding: 0 5px;
    align-items: centery
}

.menu li a {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
}

#active {
    background-color: var(--color3);
    color: var(--color1);
}

.menu li a:hover {
    background-color:var(--color5);
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width:901px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        background-color: var(--color1);
    }

    .menu li {
        margin-top: 10px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    main{
        flex-direction: column;
        justify-content: center;
    }


}

@media only screen and (max-width: 600px) {
    footer{
        flex-direction: column;
    }

    .footer-link{
        margin-top: 25px;
    }

    .formations .content-cv {
        padding: 5px;
        margin: 10px;
    }
}

/* [Main] */
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color3);
    color: var(--color1);
    padding: 50px;
    height: 600px;
}

#profil{
    width: 200px;
    border-radius: 100%;
    background-color: var(--color1);
}


/* [Footer] */
footer{
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    margin-top: 75px;
}


/* [Skills] */
.skills{
    height: 700px;
}

.content-cv{
    background-color: var(--color1);
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.content-cv h4{
    text-transform: uppercase;
}
.skill-content{
    display: flex;
    margin: 25px 0;
}

.skill-bar{
    background-color: var(--color4);
    width: 500px;
    border-radius: 25px;
    text-align: right;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

}
.skills-prop{
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 25px;
    padding-right: 10px;
    color: var(--color1);
    height: 40px;
}
.skills-img{
    height: 40px;
}
#html{
    background-color: #FF6D00;
    width: 90%;
}

#css{
    background-color: #1D97EC;
    width: 65%;
}

#js{
    background-color: #FFD600;
    width: 45%;
}

#merise{
    background-color: red;
    width: 40%;
}

#sql{
    background-color: greenyellow;
    width: 60%;
}

#git{
    background-color: #F4511E;
    width: 75%;
}

#php{
    background-color: blueviolet;
    width: 40%;
}
#ai{
    background-color: brown;
    width: 90%;
}

.formations .title{
    margin-top: 100px;
}

.formations .content-cv{
    padding: 5px;
    background-color: var(--color4);
}

.formation{
    padding: 25px;
    margin: 25px;
    background-color: var(--color1);
    border-radius: 25px;
}
/* Footer-left */
.footer-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer .logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    color: var(--color1);
    text-decoration: none;
}

footer .logo {
    color: var(--color1);
}

footer .logo:hover {
    color: var(--color1);
}


.footer-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer a:hover{
    color: var(--color3);
}

